/*This is a class that can be applied to divs*/
.ArticleTitle {
	font-weight: bold;
	font-size: 24px;
	color: #FF0000;
	font-family: "Georgia";
}
/*All div tags use these parameters*/
div {
	font-size: 16px;
	color: #3182bd;
	font-family: "Georgia"
}
/*These are parameters for all anchor tags*/
a {
	text-decoration: none;
	color: #FF0000;
}
/*These are parameters for all image tags*/
img {
	width: 500px;
	border: solid 1px #FF0000;
}
/*This is a placeholder for my chart*/
#HolderOfTheChart{
	width: 500px;
	height: 300px;
	background-color: #eeeeee;
}